<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyAdminApp"
        tools:targetApi="31">
        <activity
            android:name=".GalleryHere"
            android:exported="false" />
        <activity
            android:name=".Gallery_delete_page"
            android:exported="false" />
        <activity
            android:name=".Notice_delete_page"
            android:exported="false" />
        <activity
            android:name=".PartList"
            android:exported="false" />
        <activity
            android:name=".OrgList"
            android:exported="false" />
        <activity
            android:name=".Participating"
            android:exported="false" />
        <activity
            android:name=".Organising"
            android:exported="false" />
        <activity
            android:name=".Registered"
            android:exported="false" />
        <activity
            android:name=".UploadStudents"
            android:exported="false" />
        <activity
            android:name=".StudentActivity"
            android:exported="false" />
        <activity
            android:name=".Expenses"
            android:exported="false" />
        <activity
            android:name=".UploadEvents"
            android:exported="false" />
        <activity
            android:name=".UploadNotice"
            android:exported="false" />
        <activity
            android:name=".UploadImages"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>